/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.main-content {
  padding: 20px;
  margin-top: 60px; /* To ensure the main content is below the fixed header */
  margin-bottom: 60px; /* To ensure the main content is above the fixed footer */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}